spring:
  datasource:
    url: jdbc:mysql://localhost:3306/devtoolmp?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: devtool
    password: devtool123
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: update
